.logo{
margin-left: 70px;
margin-top: 5px;
position: absolute;
width: 65px;
}
.del{
margin-top: 30px;
margin-left: 165px;
position: absolute;
border: solid gray;
background-color: rgb(255, 237, 237);
border-spacing: 10px;
width: 23;

}
.pickup{
    position: absolute;
    margin-left: 287px;
    margin-top: 26px;
    background-color: black;
    border: solid rgb(0, 0, 0);
    width: 23px;

}
.b1{
    position: absolute;
    margin-left: 190px;
    margin-top: 30px;
    font-weight: 810;
    border:solid rgb(0, 0, 0);
    color: rgb(255, 245, 245);
    background-color: rgb(0, 0, 0);
    font-size: 11px;
}
.b2{
position: absolute;
margin-top: 28px;
margin-left: 315px;
color: white;
background-color: rgb(0, 0, 0);
border: solid rgb(2, 2, 2);
font-weight: 800;
font-size: 11px;
}

.b3{
margin-left: 727px;
margin-top: 30px;
position: absolute;
font-size:medium;
font-weight: 650;
background-color: black;
color: white;
font-size: 14px;
}
.Loc{
margin-left: 700px;
margin-top: 28px;
position: absolute;
background-color: black;
width: 21px;

}

.buc{
margin-top: 17px;
margin-left: 900px;
position: absolute;
width: 45px;
}

.Reg{

    margin-top: 27px;
    margin-left: 950px;
    position: absolute;
    font-weight: 500;
    font-size: medium;
    background-color: red;
    color: white;
}

.slider{
    margin-top: 90px;
    margin-left: 75px;
    width: 1010px;
    height: 370px;
    animation: slider 10s infinite;
    background-image: url(file:///C:/Users/Talha%20Computers/Pictures/kfc3.png);
    position: absolute;
    background-repeat: no-repeat;
}

@keyframes slider{
  0%{background-image: url(file:///C:/Users/Talha%20Computers/Pictures/kfc4.png);}
  35%{background-image: url(file:///C:/Users/Talha%20Computers/Pictures/kfc5.png);}
  75%{background-image: url(file:///C:/Users/Talha%20Computers/Pictures/kfc4.png);}

}

.h1{
font-size: 25px;
font-weight: bolder;
position: absolute;
color: azure;
margin-top: 465px;
margin-left: 75px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.h2{
    font-size: 25px;
font-weight: bolder;
position: absolute;
color: azure;
margin-top: 250px;
margin-left: 80px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;








}

.hr{
    margin-top: 480px;
    margin-left: 300px;
    background-color: black;
    width: 795px;
    
}
.hr2{
    margin-top: 277px;
    margin-left: 235px;
    background-color: black;
    width: 870px;




}

.i{
    margin-top: 30px;
    margin-left: 60px;
    width: 30px;
    position: absolute;
    
    }
    
    .i2{
        margin-top: 30px;
        margin-left: 236px;
        width: 30px;
        position: absolute;
        }
        .i3{
            margin-top: 30px;
        margin-left: 410px;
        width: 30px;
        position: absolute;
}
.i4{
    margin-top: 30px;
        margin-left: 586px;
        width: 30px;
        position: absolute;
}
.i5{
    margin-top: 30px;
        margin-left: 762px;
        width: 30px;
        position: absolute;
}
.i6{
    margin-top: 30px;
        margin-left: 940px;
        width: 30px;
        position: absolute;
}

.s1{
    margin-top: 50px;
        margin-left: 80px;
        width: 200px;
        height: 200px;
        position: absolute
        

}
.s1h{
    color: azure;
    margin-left:2px;
    margin-top:5px;
    position: absolute;
    font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.p1h{
    color: azure;
    margin-left:2px;
    margin-top:30px;
    position: absolute;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    


}


.s2{
    margin-top: 50px;
        margin-left: 350px;
        width: 200px;
        height: 200px;
        position: absolute
        

}
.s2h{
    color: azure;
    margin-left:2px;
    margin-top:5px;
    position: absolute;
    font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.p2h{
    color: azure;
    margin-left:2px;
    margin-top:30px;
    position: absolute;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    }
        
    .h3{
        color: azure;
    margin-left:2px;
    margin-top:90px;
    position: absolute;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    }

    .b{
margin-left: 20px;
font-size: 14px;
background-color: red;
color: white;


    }

    .h4{
        color: azure;
    margin-left:6px;
    margin-top:90px;
    position: absolute;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    }

    .b4{
margin-left: 90px;
font-size: 14px;
background-color: red;
color: white;
margin-top: -20px;


    }


    .s3{
        margin-top: 50px;
            margin-left: 630px;
            width: 200px;
            height: 200px;
            position: absolute
            border color

            
    
    }
    .s5h{
        color: azure;
        margin-left:2px;
        margin-top:5px;
        position: absolute;
        font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
    }
    .p5h{
        color: azure;
        margin-left:2px;
        margin-top:30px;
        position: absolute;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
        }
        .h5{
            color: azure;
        margin-left:4px;
        margin-top:90px;
        position: absolute;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        }
    
        .b5{
    margin-left: 23px;
    font-size: 14px;
    background-color: red;
    color: white;
    margin-top: -25px;
    
    
        }

        .s4{
            margin-top: -200px;
                margin-left: 895px;
                width: 200px;
                height: 200px;
                position: absolute
                
                
        
        }
        .s6h{
            color: azure;
            margin-left:10px;
            margin-top:5px;
            position: absolute;
            font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
        }
        .p6h{
            color: azure;
            margin-left:10px;
            margin-top:30px;
            position: absolute;
            font-size: 16px;
            font-family:'Times New Roman', Times, serif;
            
        
        
        }
        .h6{
            color: azure;
        margin-left:8px;
        margin-top:90px;
        position: absolute;
        font-size: 16px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 600;
        }
    
        .b6{
            margin-left: 88px;
            font-size: 14px;
            background-color: red;
            color: white;
            margin-top: -25px;
    }
        
    .foot{
margin-top: 280px;
width: 1140px;
height: 514px;
background-color: rgb(43, 41, 41);


    }
    .footi{
        margin-left: 380px;
        margin-top: 55px;



    }
    .footh{
margin-left:570px ;
margin-top: -90px;
font-size:x-large;
color: beige;

    }
    .footyou{

margin-left:575px;
margin-top: -20x;
    }
    .footins{

        margin-left:630px;
        margin-top: -23px;
        ;
            }
            .footface{

                margin-left:685px;
                margin-top: -23px;
                
                    }
                    .bot{

                        color: beige;
                        font-family:Arial, Helvetica, sans-serif;
                        font-weight: 500;
                        font-size: 16;
                        margin-left: 120px;
                        margin-top: 150px;
                        position: absolute;
                    }
                    .bot2{
                          color: azure;
                          margin-left: 120px;
                          margin-top: 110px;
                          font-size: x-large;
                          position: absolute;
                       }

                       .loc{
                        color: azure;
                          margin-left: 410px;
                          margin-top: 110px;
                          font-size: x-large;
                          position: absolute;
                          background-color: rgb(43, 41, 41);

}

                        .loc2{
                        color: white;
                        margin-left: 410px;
                        margin-top: 130px;
                        position: absolute;
                        font-size: large;
                        }

                        .tou{
                            color: azure;
                          margin-left: 670px;
                          margin-top: 92px;
                          font-size: x-large;
                          position: absolute;
                          background-color: rgb(43, 41, 41);


}

                         .tou2{
                            color: white;
                        margin-left: 670px;
                        margin-top: 90px;
                        position: absolute;
                        font-size: large;
}


                     .app1{
                        margin-left: 940px;
                        margin-top: 60px;
                        position: absolute;
}

                      .app2{
                        margin-left: 940px;
                        margin-top: 115px;
                        position: absolute;
}


                    .name{
                        position: absolute;
                        margin-left: 400px;
                        margin-top: 180px;
                        color:beige;
                        font-size: xx-large;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        color: rgb(0, 255, 255);
                        font-weight: 50;






                    }
    




        


















